@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@

@{
}
@* <style>
    .ad{
        width:100px;
    }
    .soyad {
        width:100px;
    }
</style> *@
<p>Veri tabanı bağlantısı gelmesi lazım </p>

<div class="container">
    <div>
        <label>Ad: </label>
        <input class="ad" type="text"/>
    </div>
    </br>
    <div>
        <label>Soyad: </label>
        <input class="soyad" type="text" />
    </div>
    </br>
    <div>
        <label>E-mail: </label>
        <input class="mail" type="text" />
    </div>
    </br>
    <div>
        <label>Parola: </label>
        <input class="parola" type="password" placeholder="Şifre giriniz" />
    </div>
    </br>
        <button>Kaydet</button><!--Burayı tıklayınca veri tabanına kaydedicek-->
    
</div>